<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <body>
      <div class="wireframe">
        <div class="div">
          <div class="overlap">
            <div class="overlap-group">
              <div class="group">
                <div class="win-calculator">
                  <div class="overlap-group-2">
                    <div class="rectangle"></div>
                    <img class="medvedev-head" src="../../images/players/Medvedev.png" alt="Medvedev" />
                  </div>
                  <div class="rectangle-2"></div>
                  <div class="rectangle-3"></div>
                  <div class="text-wrapper">Victory Prediction Calculator</div>
                </div>
              </div>
              <img class="line" src="img/line-1.svg" />
              <div class="rectangle-4"></div>
              <img class="hack-logo" src="../../images/icons.ico/logo_512x512.png" />
              <div class="text-wrapper-2">MATCH FLOW</div>
              <img class="sinner-head-may" src="../../images/players/Sinner.png" />
              <div class="text-wrapper-3">See Result</div>
            </div>
            <div class="overlap-2">
              <div class="recent-news-blocks">
                <div class="image-wrapper"><img class="image" src="../../images/news_photo/News1.jpg" /></div>
                <div class="img-wrapper"><img class="img" src="../../images/news_photo/News2.jpg" /></div>
                <img class="rectangle-5" src="../../images/news_photo/News3.jpg" />
              </div>
            </div>
            <div class="text-wrapper-5">Recent News</div>
            <p class="p">How Aryna Sabalenka won her second Australian ...</p>
            <p class="text-wrapper-6">As it happened: Sabalenka wins her second Austra...</p>
            <p class="text-wrapper-7">Who will win the Australian Open men’s ...</p>
            <p class="element-jake-michaels">
              <span class="span">12h -- Jake Michaels<br /></span> <span class="text-wrapper-8"><br /></span>
            </p>
            <p class="element-ESPN">
              <span class="span">7h -- ESPN<br /></span> <span class="text-wrapper-8"><br /></span>
            </p>
            <p class="element-h-ESPN">
              <span class="span">16h -- ESPN<br /></span> <span class="text-wrapper-8"><br /></span>
            </p>
            <p class="aryna-sabalenka-was">
              Aryna Sabalenka was dominat in her win on Saturday at the Australian Open <br />- What can the world No.2 do
              next?
            </p>
          </div>
      </div>
      <div class="top-players">Top 5 Players | Database</div>
      <div class="more-players-button">
        <div class="div-wrapper"><div class="text-wrapper-9">See More Players</div></div>
      </div>
      <div class="overlap-3">
        <div class="footer"></div>
        <div class="overlap-wrapper">
          <div class="overlap-4">
            <div class="text-wrapper-10">MA</div>
            <div class="text-wrapper-11">MATCHFLOW</div>
          </div>
        </div>
        <p class="instagram-riverside">Instagram : riverside_likelion<br />Email : ucriverside@likelion.org</p>
        <img class="hack-logo-2" src="../../images/icons.ico/logo_192x192.png" />
      </div>
      <div class="overlap-5">
          <div class="overlap-group-wrapper">
            <div class="overlap-6">
              <div class="player-database">
                <div class="rectangle-10"></div>
                <div class="rectangle-6"></div>
                <div class="rectangle-7"></div>
                <div class="rectangle-8"></div>
                <div class="rectangle-9"></div>
              </div>
              <div class="player-name-flag">
                <div class="player"><div class="player-2">Novak Djokovic</div></div>
                <div class="player-3">Jannik Sinner</div>
                <div class="player-4">Danii Medvedev</div>
                <div class="player-5">Alexander Zverev</div>
                <img class="medvedev-head-2" src="../../images/players/Medvedev.png" />
              </div>
              <img class="djokovic" src="../../images/players/Djokovic.png" />
              <img class="alcaraz" src="../../images/players/Alcaraz.png" />
              <img class="djokoviccountry" src="../../images/flags/DjokovicCountry.png" />
              <img class="sinner-head-may-2" src="../../images/players/Sinner.png" />
              <img class="sinnercountry" src="../../images/flags/SinnerCountry.png" />
              <img class="zverev" src="../../images/players/Zverev.png" />
              <img class="zverevcountry" src="../../images/flags/ZverevCountry.png" />
            </div>
          </div>
          <img class="alcarazcountry" src="../../images/flags/AlcarazCountry.png" />
          <div class="player-6">Carlos Alcaraz</div>
        </div>
        <p class="ranking-age">Ranking: 1<br /><br />Age: 36.6<br /><br />Winning %: 88.9%</p>
        <p class="ranking-age-2">Ranking: 2<br /><br />Age: 22.2<br /><br />Winning %: 78.6%</p>
        <p class="ranking-age-3">Ranking: 3<br /><br />Age: 20.5<br /><br />Winning %: 84.4%</p>
        <p class="ranking-age-4">Ranking: 4<br /><br />Age: 27.7<br /><br />Winning %: 78.8%</p>
        <p class="ranking-age-5">Ranking: 5<br /><br />Age: 26.6<br /><br />Winning %: 67.1%</p>
      </div>
  </div>
      </body>
    <%- include('./partials/footer.ejs') %>
</body>
</html>